nltk
spacy
pandas
numpy
moviepy
pydub
sentencepiece
transformers
torch
soundfile
torchaudio
easyocr
opencv-python
pillow
textblob
librosa
PyMuPDF
requests
bs4
pytesseract
flask
networkx
plotly
kaleido